<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3 col-md-2">family</div>
            <div class="col-3 col-md-2">weight</div>
            <div class="col-3 col-md-2">endangered</div>
        </div>
    </div>
    <div class="col-12">
        <div class="flex wrap">
            <!-- <ng-container *ngIf="afs.collection('animals/').snapshotChanges() | async as animals$">
                <pre>{{ animals$ | json}}</pre>
                <p>data exists</p>
            </ng-container> -->
            <!-- <ng-container *ngFor="let animal of animals$">
                <div class="datus">
                    <div class="shadow-sm p-3">
                        <span class="badge badge-pill p-2">{{animal.name}}</span>
                        <br />
                        <img class="img-fluid" [src]="animal.image" [alt]="animal.name">
                        <br />
                        <p class="small">{{animal.description}}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item list-group-item-dark">Family: {{animal.family}}</li>
                            <li class="list-group-item list-group-item-dark">Weight: {{animal.weight}}</li>
                            <li class="list-group-item list-group-item-dark">Endangered: {{animal.endangered}}</li>
                        </ul>
                    </div>
                </div>
            </ng-container> -->
        </div>
        <br />
        <button class="btn btn-lg btn-dark">Add new animal</button>
    </div>
</div>